body {
	font-family: Raleway;
}
.headerText {
	text-align: center;
}
.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 1.5rem;
	margin: 1rem;
	outline: none;
	border: none;
	position: relative;
	overflow: hidden;
	font-size: 1.5rem;
}
.button.left::before {
	content: "";
	position: absolute;
	background-color: aqua;
	width: 50%;
	height: 100%;
	left: 0%;
	top: -100%;
	transition: top 0.2s ease-in;
	z-index: 1;
}
.button.left:hover::before {
	top: 0%;
}

.button.left span {
	position: relative;
	z-index: 2;
	transition: color 0.2s ease-in;
}

.button.left:hover span {
	color: #1b5856;
}

.button.left::after {
	content: "";
	position: absolute;
	right: 0%;
	width: 50%;
	height: 100%;
	top: 100%;
	background-color: aqua;
	transition: top 0.2s ease-in;
	z-index: 1;
}
.button.left:hover::after {
	top: 0%;
}

.button.left span {
	position: relative;
	z-index: 2;
	transition: color 0.2s ease-in;
}

.button.left:hover span {
	color: #1b5856;
}
